# Godot 4+ specific ignores
.godot/
Modules/EnemySpawning/resources/scripts/OLDSPAWNER.gd

addons/godot-vim/
Art/Sound/Music/credits.mp3
Art/Sound/Music/credits.mp3.import
Art/Sprites/UI/options.png
Art/Sprites/UI/options.png.import
Art/Sprites/UI/quit.png
Art/Sprites/UI/quit.png.import
Art/Sprites/UI/resume.png
Art/Sprites/UI/resume.png.import
GameManager.gd
Modules/Character/Scenes/creditsMove.gd
Modules/Character/Scenes/creditz.tscn
Modules/Rooms/door.tscn
Modules/Rooms/enter_room.gd
Modules/Rooms/plagiarizeddoor.png
Modules/Rooms/plagiarizeddoor.png.import
Modules/UI/pause_menu.gd
Modules/UI/pause_menu.tscn
Modules/WorldGen/terrain_gen.gd
ParallaxBackground.gd
playtesting.tscn
project.godot
Scripts/Global/globals.gd
testing/enemy_combat_man.gd
testing/player_combat_man.gd
testing/PlaytestBossCave.tscn
testing/slimus_movement.gd
Art/Sound/Music/credits.mp3
Art/Sound/Music/credits.mp3.import
Art/Sprites/UI/options.png
Art/Sprites/UI/options.png.import
Art/Sprites/UI/quit.png
Art/Sprites/UI/quit.png.import
Art/Sprites/UI/resume.png
Art/Sprites/UI/resume.png.import
GameManager.gd
Modules/Character/Scenes/creditsMove.gd
Modules/Character/Scenes/creditz.tscn
Modules/Rooms/door.tscn
Modules/Rooms/enter_room.gd
Modules/Rooms/plagiarizeddoor.png
Modules/Rooms/plagiarizeddoor.png.import
Modules/UI/pause_menu.gd
Modules/UI/pause_menu.tscn
Modules/WorldGen/terrain_gen.gd
ParallaxBackground.gd
playtesting.tscn
project.godot
Scripts/Global/globals.gd
testing/enemy_combat_man.gd
testing/player_combat_man.gd
testing/PlaytestBossCave.tscn
testing/slimus_movement.gd
